* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Open Sans";
}

nav {
	display: inline-block;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 20%;
	padding-right: 20%;
	margin-left: 20%;
	margin-right: 20%;
	word-spacing: 100px;
	border-left: solid gray;
	border-right: solid gray;
	font-family: "Open Sans";
	text-transform: uppercase;
	color: gray;
}

#navlink {
	color: gray;
	position: relative;
	padding-left: 10%;
	padding-right: 10%;
	width: 80%;
}

body{
	max-width: 100%;
	min-width: 50%;
	margin-left: auto;
	margin-right: auto;
}

p {
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5em;
	padding-bottom: 2em;
	font-family: "Open Sans";
	font-size: 12px;
	font-variant: normal;
	font-weight: 100;
	line-height: 20px;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 1100%;
	min-width: 100%;
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding-top: 25%;
	padding-bottom: 25%;
	font-family: verdana;
	background-position: top;
	text-shadow: 
}

h2 {
	text-align: center;
	text-transform: uppercase;
	color: gray;
	font-size: 300%;
	min-width: 100%;
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding-top: 10%;
	font-family: verdana;
	
}

h3 {
	text-align: center;
	text-transform: uppercase;
	color: white;
	background-color: gray;
	font-size: 300%;
	min-width: 100%;
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding-top: 10%;
	padding-bottom: 10%;
	font-family: verdana;
	
}

img {
	padding-top: 10px;
	padding-bottom: 10px;
}

.parallax {
	background: url(https://swwhitaker.github.io/images/Acadia_boulder_beach_webres.jpg) fixed 100%;
	background-size: 100%

}

.parallax-inner {
	padding-top: 20%;
	padding-bottom: 20%;
	font-family: "Open Sans";
	text-align: center;
	margin-left: 0;
	margin-right: 0;
}

.parallax_2 {
	background: url(https://swwhitaker.github.io/images/Springfield_Reservoir_webres.jpg) fixed 100%;
	background-size: 100%


}
.parallax-inner_2 {
	padding-top: 40%;
	padding-bottom: 40%;
	width: 90%;
}


.parallax_3 {
	background: url(https://swwhitaker.github.io/images/implied_golden_gate_color_webres.jpg) fixed 100%;
	background-size: 100%


}
.parallax-inner_3 {
	padding-top: 40%;
	padding-bottom: 40%;
	width: 90%;
}


 #boxed {
	font-size: 	120%;
	margin-left: auto;
	margin-right: auto;
	padding-right: 3em;
	padding-left: 3em;
	text-align: center;

}

#whitelink {
	display: inline-flex;
	padding-top: 1em;
	padding-bottom: 1em;
}

#boxed1 {
	font-size: 	200%;
	text-align: center;
	line-height: 3em;
	margin-left: auto;
	margin-right: auto;
	padding-right: 3em;
	padding-left: 3em;
	padding-top: 7em;
	padding-bottom: 7em;
	color: white;
	
}



a:link {
	color: inherit;
}

a:visited {
	color: #90EE90;
}

a:hover {
	color: #B0C4DE;
}

ul {
	list-style-type: circle; 
	padding-left: 2em;
	padding-right: 2em;
	color: gray;
	width: 80%;
	border: 2px solid gray;
	margin-left: auto;
	margin-right: auto;
	margin-top: -.5em;
	margin-bottom: 2em;
	display: block;
	border-radius: 15px;
	background: url(https://swwhitaker.github.io/images/golden_gate_bw_webres.jpg)fixed; 
	background-size: 100%;
	background-position: center;
	background-color: grey;
	background-repeat: repeat-y;
	
	
}

li {
	display: inline-flex;
	position: relative;
	border: 2px solid white;
	border-radius: 4px;
	color: white;
	text-align: center;
	width: 45%;
	background-color: #808080;
	opacity: 0.75;
	padding: .3em;
	margin: .5em;


}


@media screen and (max-width: 1005px) {
  h1 {
    word-wrap: break-word;
  }
  #boxed1 {
  	font-size: 	120%;
	text-align: center;
	line-height: 5%;
	margin-left: auto;
	margin-right: auto;
	padding-right: 3em;
	padding-left: 3em;
	padding-top: 4em;
	padding-bottom: 4em;
	color: white;
  }
  .parallax {
	background-repeat: no-repeat;
  }
  .parallax_2 {
	background-size: 200%;
	background-repeat: no-repeat;
  }
   .parallax_3 {
	background-repeat: no-repeat;
	background-size: 200%
  }
  ul {
  	background-size: 200%
  }
  }

@media screen and (min-width: 1800px) {
  #boxed1 {
  	font-size: 	300%;
	text-align: center;
	padding-top: 10em;
	padding-bottom: 10em;
	color: white;
  }
}

.widget {
	margin-left: auto;
	margin-right: auto;
}