* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Open Sans";
}

nav {
	display: inline-block;
	vertical-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 15%;
	padding-right: 15%;
	margin-left: 20%;
	margin-right: 20%;
	word-spacing: 100px;
	border-left: solid gray;
	border-right: solid gray;
	font-family: "Open Sans";
	text-transform: uppercase;
	color: gray;
}

a {
	color: gray;
	position: relative;
	vertical-align: center;
	padding-left: 20%
	padding-right: 20%;
	width: 80%;
}

body{
	max-width: 100%;
	min-width: 50%
	margin-left: auto;
	margin-right: auto;
}

p {
	max-width: 70%
	margin-left: auto;
	margin-right: auto;
	padding-top: 5em;
	padding-bottom: 2em;
	font-family: "Open Sans";
	font-size: 12px;
	le
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 20px;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 1100%;
	min-width: 100%;
	max-width: 100%;
	letter-spacing: 1%
	margin-left: 0;
	margin-right: 0;
	padding-top: 25%;
	padding-bottom: 25%;
	font-family: verdana;
	background-position: top;
	text-shadow: 
}

h2 {
	text-align: center;
	text-transform: uppercase;
	color: gray;
	font-size: 300%;
	min-width: 100%;
	max-width: 100%;
	letter-spacing: 1%
	margin-left: 0;
	margin-right: 0;
	padding-top: 10%;
	padding-bottom: 10%;
	font-family: verdana;
	
}

h3 {
	text-align: center;
	text-transform: uppercase;
	color: white;
	background-color: gray;
	font-size: 300%;
	min-width: 100%;
	max-width: 100%;
	letter-spacing: 1%
	margin-left: 0;
	margin-right: 0;
	padding-top: 10%;
	padding-bottom: 10%;
	font-family: verdana;
	

}

.parallax {
	background: url(https://swwhitaker.github.io/images/Acadia_boulder_beach_webres.jpg) repeat fixed 100%;
	background-size: 100%
}

.parallax-inner {
	padding-top: 20%;
	padding-bottom: 20%;
	font-family: "Open Sans";
	text-align: center;
	margin-left: 0;
	margin-right: 0;
}

.parallax_2 {
	background: url(https://swwhitaker.github.io/images/Springfield_Reservoir_webres.jpg) fixed 100%;
	background-size: 100%


}
.parallax-inner_2 {
	padding-top: 40%;
	padding-bottom: 40%;
	width: 90%;

}

 #boxed {
	font-size: 	120%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 3em;
	padding-right: 3em;
	padding-left: 3em;
	text-align: center;

}

#boxed1 {
	font-size: 	200%;
	text-align: center;
	letter-spacing: 1%;
	line-height: 10em;
	margin-left: auto;
	margin-right: auto;
	padding-right: 3em;
	padding-left: 3em;
	
}

ul {
	list-style-type: circle; 
	padding-left: 2em;
	padding-right: 2em;
	position: center;
	color: gray;
}

@media screen and (max-width: 673px) {
  h1 {
    word-wrap: break-word;
    background-repeat: none;
  }
}

.widget {
	margin-left: auto;
	margin-right: auto;
}